In [6]:
import pandas as pd

In [14]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = 'latin-1')

In [28]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [19]:
print (df)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [40]:
mean (df)

NameError: name 'mean' is not defined

In [41]:
std (Area Code)

SyntaxError: invalid syntax (3287613774.py, line 1)

In [23]:
sum (df.Element)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
my_tuppy = (1,2,5,8)

In [26]:
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [33]:
groupby (df)

NameError: name 'groupby' is not defined

In [36]:
df.iloc()

NameError: name 'Element' is not defined

In [38]:
std (df)

NameError: name 'std' is not defined

In [44]:
df.duplicated().any()

False

In [45]:
df.describe(include = "all")

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [47]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [50]:
df.groupby('Area Code').count()

,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,,,,,,,,,,,
4,1313,1313,1313,1313,1313,1313,1261,1268,1274,1279,1298
7,1424,1424,1424,1424,1424,1424,1378,1378,1388,1407,1396
20,1378,1378,1378,1378,1378,1378,1361,1369,1365,1368,1361
32,1460,1460,1460,1460,1460,1460,1450,1443,1443,1441,1432
35,1260,1260,1260,1260,1260,1260,1231,1229,1200,1193,1192
37,1344,1344,1344,1344,1344,1344,1300,1296,1314,1262,1308
39,1343,1343,1343,1343,1343,1343,1284,1303,1265,1281,1305
45,45,45,45,45,45,45,45,45,45,45,45
46,1413,1413,1413,1413,1413,1413,1382,1377,1377,1395,1377
53,1285,1285,1285,1285,1285,1285,1250,1260,1257,1253,1252
59,1488,1488,1488,1488,1488,1488,1461,1473,1470,1458,1468
62,39,39,39,39,39,39,39,39,39,39,39
72,1095,1095,1095,1095,1095,1095,1052,1058,1054,1061,1040
74,1245,1245,1245,1245,1245,1245,1200,1202,1198,1206,1192
75,1168,1168,1168,1168,1168,1168,1121,1115,1111,1116,1118
81,1354,1354,1354,1354,1354,1354,1337,1333,1330,1333,1337
90,1410,1410,1410,1410,1410,1410,1345,1349,1373,1383,1385
107,1467,1467,1467,1467,1467,1467,1444,1447,1455,1454,1455
114,1560,1560,1560,1560,1560,1560,1544,1542,1540,1548,1548
122,1150,1150,1150,1150,1150,1150,1130,1097,1116,1110,1094
123,1206,1206,1206,1206,1206,1206,1135,1134,1124,1135,1133
129,1439,1439,1439,1439,1439,1439,1416,1429,1431,1425,1424
130,1447,1447,1447,1447,1447,1447,1416,1400,1394,1411,1410
133,1293,1293,1293,1293,1293,1293,1252,1256,1250,1243,1260
136,1195,1195,1195,1195,1195,1195,1106,1152,1119,1108,1170
137,1378,1378,1378,1378,1378,1378,1355,1352,1344,1340,1342
143,1393,1393,1393,1393,1393,1393,1354,1381,1378,1369,1368
144,1427,1427,1427,1427,1427,1427,1396,1394,1401,1406,1400
147,1283,1283,1283,1283,1283,1283,1274,1270,1266,1269,1256
158,1403,1403,1403,1403,1403,1403,1357,1367,1355,1365,1368
159,1474,1474,1474,1474,1474,1474,1470,1458,1460,1457,1456
175,1128,1128,1128,1128,1128,1128,1044,1040,1054,1076,1091
181,1393,1393,1393,1393,1393,1393,1374,1373,1358,1365,1356
184,1426,1426,1426,1426,1426,1426,1400,1378,1400,1397,1403
193,1177,1177,1177,1177,1177,1177,1108,1125,1140,1122,1109
195,1462,1462,1462,1462,1462,1462,1448,1449,1452,1452,1448
196,68,68,68,68,68,68,68,68,68,68,68
197,1242,1242,1242,1242,1242,1242,1177,1181,1188,1191,1197
202,1399,1399,1399,1399,1399,1399,1394,1395,1395,1395,1396
206,53,53,53,53,53,53,53,53,53,53,53
209,1284,1284,1284,1284,1284,1284,1265,1240,1255,1251,1231
215,1419,1419,1419,1419,1419,1419,1401,1405,1403,1409,1408
217,1294,1294,1294,1294,1294,1294,1219,1226,1243,1234,1266
222,1338,1338,1338,1338,1338,1338,1304,1318,1314,1314,1320
226,1458,1458,1458,1458,1458,1458,1446,1446,1446,1435,1445
233,1409,1409,1409,1409,1409,1409,1382,1372,1392,1383,1373
238,1447,1447,1447,1447,1447,1447,1424,1430,1410,1428,1425
251,1451,1451,1451,1451,1451,1451,1424,1420,1430,1425,1421
276,1316,1316,1316,1316,1316,1316,1277,1260,1271,1279,1268

In [51]:
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.